.paper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.frame {
  width: 490px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;

  justify-content: center;
}
.frame > div {
  background-color: rgb(111, 212, 86);
}