.paper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.frame {
  width: 490px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;

  justify-content: center;
}
.free {
  background-color: rgb(111, 212, 86) !important;
}
.reserved {
  background-color: yellow !important;
}
.booked {
  background-color: crimson !important;
}